<TMPL_INCLUDE NAME="partial/header.tmpl">
<TMPL_INCLUDE NAME="partial/nav.tmpl">

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
      <TMPL_INCLUDE NAME="partial/nav_side.tmpl">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    
      <TMPL_INCLUDE NAME="partial/nav_breadcrumb.tmpl">
      
      <TMPL_IF NAME="COMPARE">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Graphs comparisons
            </h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 btn-vertical-parent">
                <a type="button" class="btn btn-default btn-block" href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Daily</a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 btn-vertical-parent">
                <a type="button" class="btn btn-default btn-block" href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Weekly</a> 
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 btn-vertical-parent">
                <a type="button" class="btn btn-default btn-block" href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Monthly</a> 
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 btn-vertical-parent">
                <a type="button" class="btn btn-default btn-block" href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Yearly</a>
              </div>
            </div>
          </div>
        </div>
      </TMPL_IF>
      
    </div>
  </div>
</div>

<TMPL_INCLUDE NAME="partial/footer.tmpl">