<TMPL_INCLUDE NAME="partial/header.tmpl">
<TMPL_INCLUDE NAME="partial/nav.tmpl">

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
      <TMPL_INCLUDE NAME="partial/nav_side.tmpl">
    </div>
    <div id="main" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <TMPL_IF NAME="NCRITICAL">
        <div class="alert alert-danger">Munin detected <a href="<TMPL_VAR NAME="R_PATH">/problems.html#critical"><TMPL_VAR NAME="STATE_CRITICAL"> critical problem(s)</a>.</div>
      </TMPL_IF>
      
      <TMPL_IF NAME="NWARNING">
        <div class="alert alert-warning">Munin raised <a href="<TMPL_VAR NAME="R_PATH">/problems.html#warning"><TMPL_VAR NAME="NWARNING"> warning(s)</a>.</div>
      </TMPL_IF>
      
      <TMPL_IF NAME="NUNKNOWN">
        <div class="alert alert-info">Munin detected <a href="<TMPL_VAR NAME="R_PATH">/problems.html#unknown"><TMPL_VAR NAME="NUNKNOWN"> unknown problem(s)</a>.</div>
      </TMPL_IF>
      
      <TMPL_IF NAME="NCRITICAL"><TMPL_ELSE>
        <TMPL_IF NAME="NWARNING"><TMPL_ELSE>
          <TMPL_IF NAME="NUNKNOWN"><TMPL_ELSE>
            <div class="alert alert-success">No problems or alerts have been raised by Munin. Everything seems to be fine.</div>
          </TMPL_IF>
        </TMPL_IF>
      </TMPL_IF>
    
      <div class="panel panel-default hidden-lg hidden-md">
        <div class="panel-heading">
          <h4 class="panel-title">
            Domains
          </h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <TMPL_LOOP NAME="GROUPS">
              <TMPL_UNLESS NAME="MULTIGRAPH">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 btn-vertical-sm-12 btn-vertical-xs-12">
                  <a type="button" class="btn btn-default btn-block" href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URL">"><span class="glyphicon glyphicon-list-alt pull-left" aria-hidden="true"></span> <TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                </div>
              </TMPL_UNLESS>
            </TMPL_LOOP>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<TMPL_INCLUDE NAME="partial/footer.tmpl">