<div class="btn-group pull-right hidden-xs" role="group">
  <button type="button" class="btn btn-default btn-sm collapse-all"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Collapse all</button>
  <button type="button" class="btn btn-default btn-sm expand-all"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Expand all</button>
  <TMPL_IF NAME="COMPARE">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Comparisons
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">Daily</a></li>
          <li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">Weekly</a></li>
          <li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">Monthly</a></li>
          <li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">Yearly</a></li>
      </ul>
    </div>
  </TMPL_IF>
  <TMPL_IF NAME="PEERS">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <TMPL_VAR NAME="INFO_OPTION">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <TMPL_LOOP NAME="PEERS">
          <TMPL_IF NAME="LINK">
            <li><a href="<TMPL_VAR NAME="LINK">"><TMPL_VAR NAME="NAME"></a></li>
          <TMPL_ELSE>
            <li class="disabled"><a href="#"><TMPL_VAR NAME="NAME"></a></li>
          </TMPL_IF>
        </TMPL_LOOP>
      </ul>
    </div>
  </TMPL_IF>
</div>
<div class="clearfix"></div>